html, body {
  font-family: Arial, sans-serif;
}

body {
  margin: 2vh 3vw;
  text-align: center;
  background-color: HoneyDew;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s;
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  align-items: stretch;
}

body {
  font-size: 1.25rem;
  text-size-adjust: none;
}

/*
h1 {
  font-weight: 100;
  padding: 1rem;
  margin: 0;
  font-size: 3rem;
}
*/

#top-buttons {
  display: flex;
  gap: 3vw;
}

#top-buttons > * {
  flex: 1;
}

p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5vh;
}

input, button {
  height: 6vh;
  font-size: 1.5rem;
}

.text-container {
  display: flex;  
  flex-direction: column;
  justify-content: center;
}

#question-container {
  flex-basis: 12.5vh;
}

#question {
  font-size: 1.75rem; 
}

#feedback-container {
  flex-basis: 9vh;
  border-top: 1px solid black;
}

#answer {
  text-align: center;
}

input, button {
  border-radius: 0.5rem;
}
